.gradient {
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  color: #fff
}

.gradient.page-footer {
  border-top: none
}

.gradient.page-footer a {
  color: #fff !important;
  opacity: 1 !important
}

.gradient.page-footer .social-icons a {
  background-color: transparent
}

.gradient a:hover {
  opacity: .75 !important
}

.musee-block {
  padding-bottom: 60px;
  padding-top: 60px
}

.musee-block .heading {
  margin-bottom: 50px;
  text-align: center
}

.musee-block .heading h2 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase
}

.musee-block .heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: .7
}

.musee-block.block-intro {
  text-align: center
}

.musee-block.block-intro .about-me {
  max-width: 800px;
  margin: 0 auto
}

.musee-block.block-intro p {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 30px
}

.musee-block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px
}

.musee-block.website h3 {
  font-weight: 700
}

.musee-block.website p {
  opacity: .9
}

.musee-laptop-mockup {
  margin: auto;
  margin-top: 30px;
  max-width: 280px
}

.musee-block.mobile-app .text, .musee-block.website .text {
  text-align: center
}

.musee-laptop-mockup .screen {
  border: 1px solid #9c9c9c;
  border-bottom: none;
  width: 250px;
  height: 160px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  left: 15px
}

.musee-laptop-mockup .screen .screen-content {
  border: 1px solid #c5c5c5;
  background-position: 50%;
  background-size: cover;
  height: 100%
}

.musee-laptop-mockup .keyboard {
  width: 280px;
  height: 10px;
  border: 1px solid #9c9c9c;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #fff
}

.musee-block.photography {
  padding-top: 0;
  padding-bottom: 0
}

.musee-block.photography .item {
  overflow: hidden;
  margin-bottom: 0;
  background: #000;
  opacity: 1
}

.musee-block.photography .item a img {
  transition: .8s ease
}

.musee-block.skills {
  border-bottom: 1px solid #ddd
}

.special-skill-item {
  margin-bottom: 30px;
  text-align: center
}

.special-skill-item .icon {
  text-align: center;
  font-size: 50px;
  background-color: #0ea0ff;
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 69px;
  display: inline-block;
  border-radius: 50%
}

.special-skill-item h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10px
}

.special-skill-item p {
  color: #8e8e8e
}

.musee-block.call-to-action {
  padding-top: 60px;
  padding-bottom: 60px
}

.musee-block.call-to-action .content {
  -ms-flex-direction: column;
  flex-direction: column
}

.musee-block.mobile-app {
  padding-top: 80px;
  padding-bottom: 80px
}

.musee-block.mobile-app h3 {
  font-weight: 700
}

.musee-block.mobile-app p {
  opacity: .9
}

.musee-phone-mockup {
  border: 1px solid #9c9c9c;
  width: 150px;
  height: 300px;
  padding: 15px 7px 0;
  border-radius: 15px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 20px
}

.musee-phone-mockup .phone-screen {
  height: 240px;
  border: 1px solid #9c9c9c;
  margin-bottom: 7px;
  background-size: cover
}

.musee-phone-mockup .home-button {
  width: 28px;
  height: 28px;
  background: #fdfeff;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin: auto
}

.musee-block.cv {
  padding-top: 70px
}

.musee-block.cv h2 {
  font-weight: 700;
  margin-bottom: 70px
}

.musee-block.cv h3 {
  font-size: 1.3rem
}

.musee-block.cv .group {
  max-width: 800px;
  margin: auto
}

.musee-block.cv .group:not(:first-child) {
  margin-top: 90px
}

.musee-block.cv .group .period {
  font-size: .8rem;
  float: none;
  font-weight: 700;
  margin-top: 4px;
  color: #6c757d;
  opacity: .8
}

.musee-block.cv .group .organization {
  font-size: .85em;
  background-color: #0ea0ff;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em
}

.musee-block.cv .education.group .organization {
  background-color: #20c997
}

.musee-block.cv .group .item {
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee
}

.musee-block.cv .group h2 + .item {
  padding-top: 25px;
  border-top: 1px solid #eee
}

.musee-block.cv .group .item .row {
  margin-bottom: 5px
}

.musee-block.cv .education h3, .musee-block.cv .work-experience h3 {
  font-weight: 700
}

.musee-info-card {
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
  height: 100%
}

.musee-info-card h2 {
  margin-top: 0;
  margin-bottom: 24px !important;
  font-size: 1.4rem
}

.musee-info-card.skills h3 {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 700
}

.musee-info-card.skills .progress {
  height: 3px
}

.musee-info-card.contact-info {
  font-weight: 300
}

.musee-info-card.contact-info .icon {
  font-size: 1.3em;
  color: #6091ef;
  position: relative;
  bottom: 4px
}

.musee-block.cv .hobbies p {
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
  font-weight: 300
}

.musee-block.projects-with-sidebar .sidebar {
  padding-left: 20px;
  padding-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  overflow: auto
}

.musee-block.projects-with-sidebar .sidebar li:not(:last-child) {
  margin-right: 20px
}

.musee-block.projects-with-sidebar .sidebar .active {
  font-weight: 700
}

.musee-block.projects-with-sidebar a {
  color: #212529;
  font-weight: 300
}

.musee-block.projects-with-sidebar a:hover {
  opacity: .8
}

.project-sidebar-card img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
  transition: .4s
}

.project-sidebar-card {
  margin-bottom: 20px
}

.musee-block.compact-grid .item {
  overflow: hidden;
  margin-bottom: 0;
  background: #000;
  opacity: 1
}

.musee-block.compact-grid .item .image {
  transition: .8s ease
}

.musee-block.compact-grid .item .info {
  position: relative;
  display: inline-block
}

.musee-block.compact-grid .item .description {
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
  color: #fff;
  transition: .8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .39))
}

.musee-block.compact-grid .item .description .description-heading {
  font-size: 1em;
  font-weight: 700
}

.musee-block.compact-grid .item .description .description-body {
  font-size: .8em;
  margin-top: 10px;
  font-weight: 300
}

.musee-block.projects-cards h6 {
  font-size: 1.1rem;
  font-weight: 700
}

.musee-block.projects-cards a img {
  transition: .5s ease
}

.musee-block.projects-cards .card img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15)
}

.musee-block.projects-cards .card-body {
  text-align: center
}

.musee-block.projects-cards .card-body p {
  font-size: .9em
}

.musee-block.projects-cards a {
  color: #212529
}

.musee-block.projects-cards a:hover {
  text-decoration: none
}

.musee-block.projects-cards .card {
  margin-bottom: 30px
}

.project-card-no-image {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
  padding: 35px;
  border-top: 4px solid #0ea0ff;
  margin-bottom: 30px
}

.project-card-no-image h3 {
  font-size: 1.3em;
  margin-bottom: 20px
}

.project-card-no-image h4 {
  font-size: 1em;
  opacity: .6;
  margin-bottom: 20px
}

.project-card-no-image .tags {
  text-transform: uppercase;
  float: right;
  font-size: .75em;
  margin-top: 7px
}

.project-card-no-image .tags a {
  color: #979797
}

.musee-block form {
  max-width: 650px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

.musee-block.hire-me form .button button {
  margin-top: 30px
}

.musee-block.project .image {
  height: 180px;
  margin-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%
}

.musee-block.project h3 {
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 20px
}

.musee-block.project .info p {
  font-size: 1.1em;
  font-weight: 300
}

.musee-block.project .meta {
  padding-left: 15px
}

.musee-block.project .meta .tags .meta-heading {
  color: #22245b;
  margin-bottom: 5px;
  font-weight: 700
}

.musee-block.project .meta .tags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #979797
}

.musee-block.project .tags a {
  color: #979797
}

.musee-block.project .more-projects {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  padding-top: 60px
}

.musee-block.project .more-projects h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 60px
}

.musee-block.project .gallery {
  margin-top: 30px
}

.musee-block.project .gallery .item {
  margin-bottom: 20px
}

.musee-block.project .gallery .item img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
  transition: .4s
}

.musee-block.partners {
  padding: 50px 0;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column
}

.musee-block.partners a img {
  max-width: 170px;
  -webkit-filter: grayscale(.8);
  filter: grayscale(.8)
}

.musee-block.partners a:not(:last-child) img {
  margin-bottom: 20px
}

@media (min-width: 576px) {
  .musee-block.project .image {
    height: 240px
  }

  .scale-on-hover:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .15) !important
  }

  .zoom-on-hover:hover .image {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .7
  }

  .musee-block.compact-grid .item .description {
    opacity: 0
  }

  .musee-block.compact-grid .item a:hover .description {
    opacity: 1
  }
}

@media (min-width: 768px) {
  .musee-block .heading {
    margin-bottom: 80px
  }

  .musee-block {
    padding-bottom: 100px;
    padding-top: 100px
  }

  .musee-block .heading h2 {
    font-size: 2rem
  }

  .musee-block.cv .details {
    margin-top: 0
  }

  .musee-block.cv .item {
    font-weight: 300
  }

  .musee-block form {
    padding: 50px
  }

  .musee-laptop-mockup {
    max-width: 350px
  }

  .musee-laptop-mockup .screen {
    width: 320px;
    height: 210px
  }

  .musee-laptop-mockup .keyboard {
    width: 350px
  }

  .musee-block.cv .group .period {
    float: right
  }

  .musee-block.project .meta {
    padding-left: 45px
  }

  .musee-block.project .image {
    height: 340px
  }

  .musee-block.call-to-action .content {
    -ms-flex-direction: row;
    flex-direction: row
  }

  .musee-block.call-to-action h3 {
    margin-right: 40px
  }

  .musee-block.projects-with-sidebar .sidebar {
    display: block
  }

  .musee-block.partners {
    -ms-flex-direction: row;
    flex-direction: row
  }

  .musee-block.partners a:not(:last-child) img {
    margin-right: 20px;
    margin-bottom: 0
  }
}

@media (min-width: 992px) {
  .musee-laptop-mockup {
    margin-top: 0
  }

  .musee-block.mobile-app .text, .musee-block.website .text {
    text-align: right
  }

  .musee-block.project .image {
    height: 450px
  }
}

.musee-navbar.navbar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1)
}

.musee-navbar .navbar-nav .nav-link {
  font-weight: 700
}

.musee-navbar .navbar-nav .nav-item {
  padding-right: 2rem
}

.musee-navbar .navbar-nav:last-child .item:last-child, .musee-navbar .navbar-nav:last-child .item:last-child a {
  padding-right: 0
}

.musee-navbar .logo {
  font-size: 1.5rem
}

.musee-navbar.fixed-top + .page {
  padding-top: 62px
}

@media (min-width: 576px) {
  .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem
  }

  .musee-navbar.fixed-top + .page {
    padding-top: 5.5rem
  }
}

.page-footer {
  padding-top: 35px;
  border-top: 1px solid #ddd;
  text-align: center;
  padding-bottom: 20px
}

.page-footer a {
  margin: 0 10px;
  color: #282b2d;
  font-size: 18px
}

.page-footer .links, .page-footer a {
  display: inline-block
}

.page-footer .social-icons {
  margin-top: 20px;
  margin-bottom: 16px
}

.page-footer .social-icons a {
  font-size: 18px;
  margin: 0 3px;
  color: #fff;
  border: 1px solid;
  opacity: .75;
  border-radius: 50%;
  width: 36px;
  display: inline-block;
  height: 36px;
  text-align: center;
  background-color: #c5c9d2;
  line-height: 34px
}

.page-footer .social-icons a:hover {
  opacity: 1
}